body {
  text-align: center;
  background-color: white;
  color: darkslategray;
}

body.dark-mode {
  background-color:#282c34;
  color:darkslategray;
}

.card-container {
  display: flex;
  flex-wrap: wrap;

}

.player-card {
  background-color: gray;
  color: darkslategray;
  margin:2%;
  width:16%;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgb(37, 37, 37);
}


.nav-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

